<a href="https://colab.research.google.com/github/roberthsu2003/pytorch/blob/main/p1ch2/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [4]:
import pandas as pd

# 建立範例 DataFrame
data = {'姓名': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        '年齡': [25, 30, 28, 22, 35],
        '城市': ['New York', 'London', 'Paris', 'New York', 'London']}
df = pd.DataFrame(data)

# 過濾年齡大於 28 歲的行
filtered_df = df[df['年齡'] > 28]
print(filtered_df)

# 過濾居住在紐約的行
filtered_df = df[df['城市'] == 'New York']
print(filtered_df)

# 過濾年齡大於 25 歲且居住在倫敦的行
filtered_df = df[(df['年齡'] > 25) & (df['城市'] == 'London')]
print(filtered_df)

    姓名  年齡      城市
1  Bob  30  London
4  Eve  35  London
      姓名  年齡        城市
0  Alice  25  New York
3  David  22  New York
    姓名  年齡      城市
1  Bob  30  London
4  Eve  35  London